/* Variables */
:root{
    /* --name: value */
    --main-font-family: "Montserrat", sans-serif;
    --main-font-weight: 400;
    --main-font-size: 16px;
}
/* Container */
.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}
/* Same codes */

/* Html and Body */
html,
body{
    background-color: #F9F6F1;;
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
    font-weight: var(--main-font-weight);
    color: #000;
    line-height: 1;
}
/* Sections */

/* Header Section */
.header {
    padding: 50px 0px 0px 0px;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__drop-list {
    display: flex;
    align-items: center;
}
.header__drop-item {
}
.header__drop-item:not(:last-child){
    margin: 0px 35px 0px 0px;
}
.header__drop-link {
    font-weight: 500;
    line-height: calc(17 / 14 * 100%);
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #212121;
    transition: all 0.2s ease-in-out;
    position: relative;
}
.header__drop-link:hover{
    color: #D7B399;
}
.header__drop-link:active{
    color: #D7B399;
    opacity: 0.8;
}
.header__drop-link::after{
    content: "";
    width: 0px;
    height: 0px;
    background-color: transparent;
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-22%);
    border-top: 5px solid #212121;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
}
.header__logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    line-height: calc(26.26 / 24 * 100%);
    letter-spacing: 0.05em;
    color: #212121;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}
.header__logo:hover{
    opacity: 0.8;
}
.header__logo:active{
    opacity: 0.8;
}
.header__logo-text {
    margin: 0px 0px 0px 20px;
}
.header__nav-list {
    display: flex;
    align-items: center;
}
.header__nav-item {
}
.header__nav-item:not(:last-child){
    margin: 0px 35px 0px 0px;
}
.header__nav-link {
    font-weight: 500;
    line-height: calc(17 / 14 * 100%);
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #212121;
    transition: all 0.2s ease-in-out;
}
.header__nav-link:hover{
    color: #D7B399;
}
.header__nav-link:active{
    color: #D7B399;
    opacity: 0.8;
}
.header__carts {
    display: flex;
    align-items: center;
}
.header__cart {
    margin: 0px 15.25px 0px 0px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.header__cart:hover{
    opacity: 0.8;
}
.header__cart:active{
    opacity: 0.6;
}
.header__cart-info {
    width: 33px;
    height: 15px;
    background-color: #D7B399;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 12px;
    line-height: calc(14 / 12 * 100%);
    letter-spacing: 0.03em;
    color: #fff;
    position: relative;
}
.header__cart-info::after{
    content: "";
    width: 0px;
    height: 0px;
    background-color: transparent;
    border-right: 10px solid #D7B399;
    border-top: 8px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 7px solid transparent;
    position: absolute;
    top: 0;
    left: -17px;
}