/* Variables */
:root{
    /* --name: value */
    --main-font-family: "Montserrat", sans-serif;
    --main-font-weight: 400;
    --main-font-size: 16px;
}

/* Same codes */
*{
    box-sizing: border-box;
}
/* Html and Body */
html,
body{
    background-color: #F9F6F1;;
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
    font-weight: var(--main-font-weight);
    color: #000;
    line-height: 1;
}
/* Container */
.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}
/* Sections */

/* Header Section */
.header {
    padding: 50px 0px 0px 0px;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__drop-list {
    display: flex;
    align-items: center;
}
.header__drop-item {
}
.header__drop-item:not(:last-child){
    margin: 0px 35px 0px 0px;
}
.header__drop-link {
    font-weight: 500;
    line-height: calc(17 / 14 * 100%);
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #212121;
    transition: all 0.2s ease-in-out;
    position: relative;
}
.header__drop-link:hover{
    color: #D7B399;
}
.header__drop-link:active{
    color: #D7B399;
    opacity: 0.8;
}
.header__drop-link::after{
    content: "";
    width: 0px;
    height: 0px;
    background-color: transparent;
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-22%);
    border-top: 5px solid #212121;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
}
.header__logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    line-height: calc(26.26 / 24 * 100%);
    letter-spacing: 0.05em;
    color: #212121;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}
.header__logo:hover{
    opacity: 0.8;
}
.header__logo:active{
    opacity: 0.8;
}
.header__logo-text {
    margin: 0px 0px 0px 20px;
}
.header__nav-list {
    display: flex;
    align-items: center;
}
.header__nav-item {
}
.header__nav-item:not(:last-child){
    margin: 0px 35px 0px 0px;
}
.header__nav-link {
    font-weight: 500;
    line-height: calc(17 / 14 * 100%);
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #212121;
    transition: all 0.2s ease-in-out;
}
.header__nav-link:hover{
    color: #D7B399;
}
.header__nav-link:active{
    color: #D7B399;
    opacity: 0.8;
}
.header__carts {
    display: flex;
    align-items: center;
}
.header__cart {
    margin: 0px 25.25px 0px 0px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.header__cart:hover{
    opacity: 0.8;
}
.header__cart:active{
    opacity: 0.6;
}
.header__cart-info {
    width: 33px;
    height: 15px;
    background-color: #D7B399;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 12px;
    line-height: calc(14 / 12 * 100%);
    letter-spacing: 0.03em;
    color: #fff;
    position: relative;
}
.header__cart-info::after{
    content: "";
    width: 0px;
    height: 0px;
    background-color: transparent;
    border-right: 10px solid #D7B399;
    border-top: 8px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 7px solid transparent;
    position: absolute;
    top: 0;
    left: -17px;
}

/* Content Section */
.content {
    padding: 126px 0px 133px 0px;
}
.content__container {
}
.content__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content__col {
}
.content__col:nth-child(2){
    position: relative;
}
.content__subtitle {
    font-size: 30px;
    line-height: calc(36 / 30 * 100%);
    letter-spacing: 0.02em;
    margin: 0px 0px 35px 0px;
}
.content__title {
    font-weight: 700;
    font-size: 55px;
    line-height: calc(67 / 55 * 100%);
    letter-spacing: 0.04em;
    margin: 0px 0px 55px 0px;
}
.content__btn {
    display: inline-block;
    background-color: #D7B399;
    color: #fff;
    font-size: 16px;
    line-height: calc(19.5 / 16 * 100%);
    letter-spacing: 0.03em;
    padding: 17px 30px 18px 29px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
.content__btn:hover{
    opacity: 0.8;
}
.content__btn:active{
    opacity: 0.6;
}
.old-price, .new-price{
    font-weight: 700;
    font-size: 24px;
    line-height: calc(29.26 / 24 * 100%);
    letter-spacing: 0.05em;
    text-decoration: line-through;
    text-align: right;
    color: #000;
    text-transform: uppercase;
    position: absolute;
    top: 40px;
    right: 7px;
}
.new-price{
    font-size: 42px;
    line-height: calc(51.2 / 42 * 100%);
    letter-spacing: 0.02em;
    color: #D84033;
    top: 83px;
    right: 0;
    text-decoration: none;
}

/* Free Shipping */
.free-shipping {
    width: 100%;
    background-color: #212121;
    padding: 80px 0px 69px 0px;
}
.free-shipping__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.free-shipping__title {
    font-weight: 400;
    font-size: 30px;
    line-height: calc(36.57 / 30 * 100%);
    letter-spacing: 0.02em;
    color: #fff;
    margin: 0px 0px 23px 0px;
}
.free-shipping__roboto{
    font-family: Roboto, san-serif;
    font-weight: 700;
}
.free-shipping__text {
    font-weight: 300;
    font-size: 21px;
    line-height: calc(25.6 / 21 * 100%);
    color: #fff;
}

/* Collection Section */
.collection {
    background-color: #F9F6F1;
    padding: 60px 0px;
}
.collection__container {
}
.collection__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.collection__col {
    display: flex;
    align-items: center;
}
.collection__col-info {
    padding: 0px 0px 0px 20px;
}
.collection__title {
    font-weight: 300;
    font-family: Roboto, san-serif;
    font-size: 24px;
    line-height: calc(29 / 24 * 100%);
    letter-spacing: 0.03em;
    color: #000000;
    margin: 0px 0px 25px 0px;
}
.collection__title-bold {
    font-family: var(--main-font-family);
    font-weight: 500;

}
.collection__text {
    line-height: calc(19 / 16 * 100%);
    margin: 0px 0px 40px 0px;
}
.collection__btn {
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D7B399;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.collection__btn:hover{
    opacity: 0.8;
}
.collection__btn:active{
    opacity: 0.6;
}
.collection__arrow{
}
.collection__wrap-img {
    transform: translateY(60px);
}
.collection__img {
}

/* Model Section */
.model {
    background-color: #fff;
    padding: 150px 0px;
}
.model__container {
    text-align: center;
}
.model__heading {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(43.88 / 36 * 100%);
    letter-spacing: 0.04em;
    color: #212121;
    margin: 0px 0px 100px 0px;
    text-transform: uppercase;
}
.model__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 100px 0px;
}
.model__col {
    min-width: 255px;
    text-align: center;
    padding: 22px 25px 25px 25px;
    position: relative;
}
.model__img {
    margin: 0px 0px 25px 0px;
}
.model__title {
    font-weight: 600;
    font-size: 14px;
    line-height: calc(17.07 / 14 * 100%);
    margin: 0px 0px 15px 0px;
}
.model__price {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(21.94 / 18 * 100%);
    color: #D7B399;
    text-transform: uppercase;
}
.model__border{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-width: 3px;
    border-style: solid;
}
.top{
    top: 0;
    left: 0;
    border-top-color: #D7B399;
    border-left-color: #D7B399;
    border-right: none;
    border-bottom: none;
}
.right{
    top: 0;
    right: 0;
    border-top-color: #D7B399;
    border-right-color: #D7B399;
    border-bottom: none;
    border-left: none;
}
.bottom{
    bottom: 0;
    right: 0;
    border-right-color: #D7B399;
    border-bottom-color: #D7B399;
    border-top: none;
    border-left: none;
}
.left{
    bottom: 0;
    left: 0;
    border-bottom-color: #D7B399;
    border-left-color: #D7B399;
    border-right: none;
    border-top: none;
}
.model__btn {
    display: inline-block;
    background-color: #D7B399;
    color: #fff;
    font-size: 16px;
    line-height: calc(19.5 / 16 * 100%);
    letter-spacing: 0.03em;
    padding: 17px 35px 18px 35px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
.model__btn:hover{
    opacity: 0.8;
}
.model__btn:active{
    opacity: 0.6;
}